.header h1 {
  font-size: xx-large;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-top: 50px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .userMessage {
    align-self: flex-end;
    background-color: #65aefc;
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }

  .userMessage .message-content {
    color: white;
  }
  
  .aiMessage {
    align-self: flex-start;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }